views/gaia_university/index.haml
.view-gaia-univerty
	.banner
		.container
			.row
				.col-sm-4
					%img{src: "images/gaia-university-man.png"}
				.col-sm-8
					%h1 Universidade Gaia
					%h2 
						Um centro de treinamentos, capacitação e dicas.
						%br/
						Exclusivo para imobiliárias Gaia.			
					%p
						%a.btn.btn-primary.btn-lg{href:"http://www.universidadegaia.com.br/account/Area-Restrita",target: "_blank"} Fazer treinamento completo
						%a.btn.btn-primary.btn-lg{href: "#formacao"} Formação Gaia
	.container.courses

		%h2#formacao Formação Gaia
		%h3 Multiplique seu conhecimento. Torne-se um especialista e realize mais negócios.
		.row 
			.col-sm-4{"ng-repeat"=>"course in courses"}
				.course{"ng-class"=>"{unavailable: !course.available}"}
					.picture-course
						.label-free{"ng-show"=>"course.registered"} Já estou inscrito
						.image
							%img.img-responsive{"ng-src"=>"{{course.image_path}}"}
					.details.closed
						.col-sm-12.col-md-4.hidden-sm.hidden-xs
							.day {{course.start_date | dateTime:"day"}}
							.month {{(course.start_date | dateTime:"month").substring(0,3)}}
						.col-sm-12.col-md-8
							%h4.title {{course.title}}
							.hour 
								%i.fa.fa-clock-o
								{{course.start_date | dateTime:"hours"}}h{{course.start_date | dateTime:"minutes"}}
						.col-sm-12.description {{course.description}}
					.text-center.buttons
						%div{"ng-show"=>"course.available"}
							%a.btn.btn-success{href: "#","ng-hide"=>"course.registered","ng-click"=>"register_me(true,course)"} Inscrever-me
							%a.btn.btn-link{href: "#","ng-show"=>"course.registered","ng-click"=>"register_me(false,course)"} Cancelar inscrição
						%div{"ng-hide"=>"course.available"}
							%a.btn.btn-default.disabled{href: "javascript:"} Inscrições canceladas


		%hr/
		%p &nbsp;
	

views/gaia_university/index.html
<div class='view-gaia-univerty'>
  <div class='banner'>
    <div class='container'>
      <div class='row'>
        <div class='col-sm-4'>
          <img src='images/gaia-university-man.png'>
        </div>
        <div class='col-sm-8'>
          <h1>Universidade Gaia</h1>
          <h2>
            Um centro de treinamentos, capacitação e dicas.
            <br>
            Exclusivo para imobiliárias Gaia.
          </h2>
          <p>
            <a class='btn btn-primary btn-lg' href='http://www.universidadegaia.com.br/account/Area-Restrita' target='_blank'>Fazer treinamento completo</a>
            <a class='btn btn-primary btn-lg' href='#formacao'>Formação Gaia</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class='container courses'>
    <h2 id='formacao'>Formação Gaia</h2>
    <h3>Multiplique seu conhecimento. Torne-se um especialista e realize mais negócios.</h3>
    <div class='row'>
      <div class='col-sm-4' ng-repeat='course in courses'>
        <div class='course' ng-class='{unavailable: !course.available}'>
          <div class='picture-course'>
            <div class='label-free' ng-show='course.registered'>Já estou inscrito</div>
            <div class='image'>
              <img class='img-responsive' ng-src='{{course.image_path}}'>
            </div>
          </div>
          <div class='details closed'>
            <div class='col-sm-12 col-md-4 hidden-sm hidden-xs'>
              <div class='day'>{{course.start_date | dateTime:"day"}}</div>
              <div class='month'>{{(course.start_date | dateTime:"month").substring(0,3)}}</div>
            </div>
            <div class='col-sm-12 col-md-8'>
              <h4 class='title'>{{course.title}}</h4>
              <div class='hour'>
                <i class='fa fa-clock-o'></i>
                {{course.start_date | dateTime:"hours"}}h{{course.start_date | dateTime:"minutes"}}
              </div>
            </div>
            <div class='col-sm-12 description'>{{course.description}}</div>
          </div>
          <div class='text-center buttons'>
            <div ng-show='course.available'>
              <a class='btn btn-success' href='#' ng-click='register_me(true,course)' ng-hide='course.registered'>Inscrever-me</a>
              <a class='btn btn-link' href='#' ng-click='register_me(false,course)' ng-show='course.registered'>Cancelar inscrição</a>
            </div>
            <div ng-hide='course.available'>
              <a class='btn btn-default disabled' href='javascript:'>Inscrições canceladas</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <p>&nbsp;</p>
  </div>
</div>
