views/properties/index.haml
.view-properties
	.side-filters
		%form.form-horizontal
			%legend Buscar por referência
		%form.form-horizontal
			%legend Buscar critérios
			.form-group
				%label.col-sm-3.control-label{for: "inputEmail3"} Venda
				.col-sm-9
					.checkbox
						%input{type: "checkbox"}					
			.form-group
				%label.col-sm-3.control-label{for: "inputEmail3"} Locação
				.col-sm-9
					.checkbox
						%input{type: "checkbox"}	
			.form-group
				%label.col-sm-3.control-label{for: "inputEmail3"} Tipo do imóvel
				.col-sm-9
					%input.form-control{type: "text"} 										

	.container
		.tools
			.pull-right
				.btn-group
					%a.btn.btn-default{href: "javascript:"} 
						Ordenando por atualização
					%a.btn.btn-default{href: "javascript:"} 
						%i.fa.fa-th-list
					%a.btn.btn-default{href: "javascript:"} 
						%i.fa.fa-filter					
			%a.btn.btn-default{href: "javascript:"} 
				%i.fa.fa-long-arrow-left
				Refinar busca

views/properties/index.html
<div class='view-properties'>
  <div class='side-filters'>
    <form class='form-horizontal'>
      <legend>Buscar por referência</legend>
    </form>
    <form class='form-horizontal'>
      <legend>Buscar critérios</legend>
      <div class='form-group'>
        <label class='col-sm-3 control-label' for='inputEmail3'>Venda</label>
        <div class='col-sm-9'>
          <div class='checkbox'>
            <input type='checkbox'>
          </div>
        </div>
      </div>
      <div class='form-group'>
        <label class='col-sm-3 control-label' for='inputEmail3'>Locação</label>
        <div class='col-sm-9'>
          <div class='checkbox'>
            <input type='checkbox'>
          </div>
        </div>
      </div>
      <div class='form-group'>
        <label class='col-sm-3 control-label' for='inputEmail3'>Tipo do imóvel</label>
        <div class='col-sm-9'>
          <input class='form-control' type='text'>
        </div>
      </div>
    </form>
  </div>
  <div class='container'>
    <div class='tools'>
      <div class='pull-right'>
        <div class='btn-group'>
          <a class='btn btn-default' href='javascript:'>
            Ordenando por atualização
          </a>
          <a class='btn btn-default' href='javascript:'>
            <i class='fa fa-th-list'></i>
          </a>
          <a class='btn btn-default' href='javascript:'>
            <i class='fa fa-filter'></i>
          </a>
        </div>
      </div>
      <a class='btn btn-default' href='javascript:'>
        <i class='fa fa-long-arrow-left'></i>
        Refinar busca
      </a>
    </div>
  </div>
</div>
